<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.applesignin</key>
	<array>
		<string>Default</string>
	</array>
	<key>aps-environment</key>
	<string>$(YC_STARTER_APNS_ENVIRONMENT)</string>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>$(YC_STARTER_APP_GROUP_IDENTIFIER)</string>
	</array>
</dict>
</plist>
