<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleDisplayName</key>
	<string>YCAppStarter Widgets</string>
	<key>CFBundleName</key>
	<string>YCAppStarterWidgets</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widgetkit-extension</string>
	</dict>
	<key>YC_STARTER_APP_GROUP_IDENTIFIER</key>
	<string>$(YC_STARTER_APP_GROUP_IDENTIFIER)</string>
	<key>YC_STARTER_URL_SCHEME</key>
	<string>$(YC_STARTER_URL_SCHEME)</string>
</dict>
</plist>
